.packages

  &__title
    margin: 0
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
  &-wrapper

  &-card
    width: 350px
    min-height: 500px
    background: $dark
    border-radius: 8px
    overflow: hidden
    &__top
      width: 350px
      height: 250px
    &__offer
      display: none

    &__image
      width: 100%
      height: 100%
      object-fit: cover
    &__bottom

    &__name

    &__price

      &-old

      &-young

    &__button

  &-big

  &-big-image

  &-big__offer

  &-big__information

  &-big__text

.stars

.person-room

  &__wrapper

  &__icon

  &__text
